/****************/
/* Styling Body */
/****************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
body, html {
    width: 100%;
}
/**************************/
/* Styling Mobile Version */
/**************************/
@media screen and (max-width: 480px) {
    .class {
        font-size: 10px;
    }
}
/****************/
/* Styling Logo */
/****************/
#logo {
    position: relative;
    /*top: 34px;*/
}
#logo img {
    margin: 0;
    /*padding-left: 90px;*/
}
/*****************************/
/* Styling Header Image Menu */
/*****************************/
#header-image-menu{
    top: 10px;
    position: relative;
}

#header-image-menu img{
    width: 100%;
    margin: none;
    padding: none;
}

#image-text{
    position: absolute;
    top: 60%;
    left: 60%;
    font-family: 'Roboto';
    color: #000;
    transform: translate(-30%, -30%);
    text-align: center;
}
/*******************************/
/* Styling Navigation Bar Menu */
/*******************************/
.top-header {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 350px;
    line-height: 30px;
  }
nav a {
    text-decoration: none;
    font-family: Inter;
    font-size: 24px;
    color: #000000;
    padding-right: 15px;
}

nav ul {
    margin: 5px;
    padding-left: 282px;
}

nav li {
    list-style-position: inside;
    font-family: Inter;
    padding-right: 40px;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

.top-menu li {
    display: inline-block;
}
.top-menu li.active {
    color: #000;
}

.top-menu a {
    color: #000000;
}
/*************************/
/* Styling search button */
/*************************/
input[type="text"] {
  height: 42px;
  font-size: 20px;
  display: inline-block;
  font-family: "Inter";
  font-weight: 100;
  border: none;
  outline: none;
  color: #000;
  padding: 5px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 20px;
  right: 400px;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

input[type="text"]:focus:hover {
  background-color: #D9D9D9;
}

input[type="text"]:focus {
  width: 760px;
  z-index: 1;
  background-color: #D9D9D9;
  border-radius: 25px;
  cursor: text;
  height: 30px;
  margin-top: 13px;
}
input[type="submit"] {
  height: 67px;
  width: 63px;
  display: inline-block;
  background: url(images/search.svg) center center no-repeat;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 17px;
  right: 400px;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity .4s ease;

}
input[type="submit"]:hover {
    opacity: 0.8;
}
/*******************/
/* Styling sliders */
/*******************/
.dropdown {

}
.btn-sliders {
    background: url(images/sliders.svg) center center no-repeat;
    width: 42px;
    height: 42px;
    cursor: pointer;
    border: 0.5px white;
    position: absolute;
    top: 28px;
    right: 350px;
}
/*********/
/* Fonts */
/*********/
@font-face {
    font-family: Inter; /* Гарнитура шрифта */
    src: url(fonts/Inter-Light.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Roboto; /* Гарнитура шрифта */
    src: url(fonts/Roboto-Light.ttf); /* Путь к файлу со шрифтом */
}
